/.bundle
/app/bower_components
/db/*.sqlite3
/doc/
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

/config/environments/production.rb
/config/*.yml
/*.log


#################
## npm
#################

npm-debug.log
node_modules/
/node_modules
!/node_modules/
!src/node_modules/
node_modules/**/*
devportal/node_modules/
devportal/node_modules/**/*

bower_components
.tmp

# Ignore sass-cache files.
*.sass-cache*

.DS_Store
.idea/**/*
php/**.*.idea

